<!-- ngIf in this div -->
<br>
<mat-card>
  <div style="text-align: center; font-size: 1.5em;"><b>TIME LEFT(in seconds): {{timeLeft}}</b></div>
</mat-card>
  <br>
<br>
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" *ngIf="question">

    <div fxFlex="20"></div>
    <div fxFlex="30">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Question {{question.id}}</mat-card-title>
              <mat-card-subtitle>Category: {{question.category}}<br><br>
                Difficulty: <mat-slider
                thumbLabel
                value="{{question.difficulty}}"
                tickInterval="1"
                min="1"
                max="10" class="mouse-not-allowed"></mat-slider>
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>{{question.question}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class= "button-class" style="background-color: #3f51b5;" mat-button (click)="prevQuestion()">PREV</button>
              <button class= "button-class" style="background-color: #3f51b5;" mat-button (click)="nextQuestion()">NEXT</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div fxFlex="30">
        <div class="container"
            fxLayout="column"
            fxLayout.sm="column"
            fxLayout.xs="column">
            <div fxFlex>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: 30px;">Options</mat-card-title>
                    </mat-card-header>
                    <!-- Mat List Used here -->
                    <mat-list>
                        <mat-list-item *ngFor="let opt of question.option">
                                      <mat-checkbox class="{{opt.class}}" style="margin-top: 10px; white-space: pre-wrap;" id="{{question.id}}_{{opt.id}}"
                                        [checked]= "opt.isChecked"
                                        [disabled]= "resultMode"
                                        (change)="toggleOptionValue(opt.id)">
                                        <p style="margin-top: 10px; white-space: pre-wrap;">{{opt.optionString}}</p>
                                      </mat-checkbox><br>
                        </mat-list-item>
                    </mat-list>
                    <!-- Mat List ends -->
                </mat-card>
            </div>
            <div fxFlex>
                <mat-card>
                    <mat-card-actions *ngIf= "!resultMode">
                      <!-- <button class= "button-class" mat-button (click)="nextQuestion()">SAVE & NEXT</button> -->
                      <button *ngIf= "!resultMode" class= "button-class" style="background-color: red;" mat-button (click)="endQuiz()">END QUIZ</button>
                    </mat-card-actions>
                    <mat-card-actions *ngIf= "resultMode">
                      <button *ngIf= "resultMode" class= "button-class" mat-button [routerLink]="['/quiz-results']">View Report</button>
                    </mat-card-actions>
                    <!-- Mat List ends -->
                </mat-card>
            </div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>
<br><br>
