<div class="center">
    <span>
        <b style="color: white; font-size: 2.4em; text-align: center;">Welcome to Quizamania!!!</b>
        <div>
            <div class="transbox">
                <ul style="font-size: 1.7em;">
                    <li> This quiz is of 30 minutes. </li>
                    <li> One question may have more than one correct answers. </li>
                    <li> You can view the answers to the questions only after you end the quiz. </li>
                    <li> You will be able to see answers to only those questions which you have answered. </li>
                    <li> After you end the quiz, you may replay it. </li>
                </ul>
            </div>
            <div style="text-align: center;">
                <button style="background-color: blue; color: white;" mat-button [routerLink]="['/quiz', 1]"><b>Start Quiz</b></button>
            </div>
        </div>
        <!-- <br><br><p style="color: white;">Thshjb xb bqesbwd abjx bhb ds vcc sbxsab xcakcx cd bacack</p>
        <br><br><br> -->
    </span>
</div>